{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    //"indent": [ 2, 2 ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      0,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      1,
      "never"
    ],
    "constructor-super": 2,
    "no-arrow-condition": 2,
    "no-class-assign": 2,
    "no-console": 0,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-var": 1,
    "no-this-before-super": 2,
    "object-shorthand": 0,
    "prefer-spread": 1,
    "prefer-template": 1,
    "require-yield": 2
  },
  "extends": "eslint:recommended"
}
