!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
DerivedData
project.xcworkspace

.DS_Store
.idea
.gradle
.classpath
.project
.settings
.metadata
.factorypath
.springBeans
.*.md.html

dependency-reduced-pom.xml
interpolated*.xml
settings.xml

build.log
npm-debug.log

manifest.yml

local.properties

overridedb.*

node_modules
build
/code
/logs
lib/
target
_site/
activemq-data

*.iml
*.ipr
*.iws
*.pbxuser
*.mode1v3
*.mode2v3
*.moved-aside
*.perspectivev3
*.xccheckout
*.hmap
*.ipa
*.xcuserstate
*.war
*.ear
*.sw?
.#*
*#
